.form-box{
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid white;
    padding: 20px;
}

.form input{
    border: 1px solid lightgray;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 30px;
}

.form input::placeholder{
    font-size: 16px;
    color: #928f8f;
}

.form button{
    padding: 10px 25px;
    border: 1px solid white;
    background: white;
    color: darkslategrey;
    font-weight: bold;
}

.form a{
    text-decoration: none;
    padding-left: 10px;
    color: white;
}
.form span{
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}

.error{
    margin: 0;
    padding-bottom: 5px;
    color: red;
}

.login-btn:disabled{
    cursor: not-allowed;
    background-color: darkgray;
}