.albums-box{
    width: 33%;
    border: 1px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.albums-box img{
    display: block;
    width: 200px;
    height: 200px;
}

.albums-box a{
    text-decoration: none;
    color: white;
}