.Layout-Content {
    margin-top: 72px;
}
.Layout-main{
    max-width: 1000px;
    padding: 15px;
    margin: 0 auto;
    background: darkslategrey;
    color: white;
}

.layout-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout-header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

.layout-header span{
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    padding-right: 10px;
    text-decoration: underline;
}